
body {
   font-family: "Lato", sans-serif;
   font-size: 1.6rem;

   background: var(--bg-primary);
   position: relative;
}

main {
   height: 100vh;
   width: 100vw;
   
   position: relative;
}

.slide-img {
   width: 100%;
   height: 100%;
   background-size: cover;
   
}

.slide-img-1 {
   background-size: cover;
   background-position: center center;
   background-image: url('../images/slide1-home.jpg');
}

.slide-img-2 {
   background-size: cover;
   background-position: center center;
   background-image: url('../images/slide2-home.jpg');
}

.slide-img-3 {
   background-size: cover;
   background-position: center center;
   background-image: url('../images/slide3-home.jpg');
}

.swiper {
   height: 71%;
   width: 100%;
   background: black;   
   
}

.swiper-slide {
   width: 100%;

}

.btn-home-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 7%;
  z-index: 999;

  cursor: none;
  display: flex;
  flex-direction: column;
  gap: 3.6rem;

}

.btn-home-wrapper a button {
   font-family: 'Inter', sans-serif;
   font-weight: 600;
   font-size: 1.8rem;
   width: 35rem;
   height: 8rem;

   text-transform: capitalize;

   background: var(--green-primary);
   border: none;
   border-radius: 50px;

   color: white;
}

.btn-home-wrapper h5, a {
   font-size: 1.4rem;
}

.btn-home-wrapper h4 > a {
   color: #007BFF;
   font-size: 17px;
}

.btn-home {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;

   position: relative;

}

.btn-home > span {
   font-size: 32px;
}

.material-symbols-outlined{
   position: absolute;
   left: 250px;
   font-size: 40px;

   animation: rightSlide 2.5s infinite;
}


.login-home {
   display: flex;
   justify-content: center;
   align-items: center;

   gap: 0.4rem;
}


@keyframes rightSlide {
   0% {
      margin-left: 0px;
   }
   50% {
      margin-left: 8px;
   }
   100% {
      margin-left: 0;
   }
}